@import "tailwindcss";

:root {
  --background: #fdfbf7;
  --foreground: #2d2d2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-handwriting: var(--font-kalam);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 1.5rem;
}

body,
body * {
  font-family: var(--font-kalam) !important;
}
